name: Deploy Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Upload site files
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./Docs
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
